# Ignore virtual environment
env/
backend/env/
frontend/env/

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite DB
*.sqlite3

# VSCode settings (optional)
.vscode/

# Environment variables file (optional)
.env

# Finder (Mac) Indexing files
.DS_Store