# VSCode settings
.vscode/

# Finder (Mac) Indexing files
.DS_Store

# virtual environment
env/

# Environment variables file
.env

# Python cache and compiled files
*__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite DB
*.sqlite3

# typescript
frontend/next-env.d.ts

# Node modules
frontend/node_modules/

# Next files
frontend/.next/

# static files
backend/staticfiles/
